<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <script src="/navigate.js"></script>
    <style>

        :focus  { outline: 2px solid green }
        /*:active { outline: 2px solid red }*/

        li {
            margin: 5px 0;
            padding: 0;
        }

        li > a {
            padding: 2px 4px;
        }

    </style>
</head>
<body>

<h1>
    <%
        var parts = title.split('/');
        parts.shift();
        for (var i = 0; i < parts.length; i++) {
            var part = parts[i];
            if (i == 0 && part != '') {
                %><a href="/">/</a><%
            }
            else {
                %>/<%
            }

            var link = parts.slice(0, i + 1).join('/');
            %><a href="/<%- link %>"><%= part %></a><%
        }
    %>
</h1>

<ol id="navigateElem" style="--spatial-navigation-contain: contain; --spatial-navigation-function: normal;">
    <% for (var i = 0; i < list.length; i++) { %>
    <% var item = list[i]; %>
    <li>
        <a id="el<%= i %>" href="<%= (title.length == 1 ? '' : title) + '/' + item.name %>" <%= i == 0 ? 'autofocus' : '' %> ><%= item.name %></a>
    </li>

    <% } // end for %>
</ol>

</body>

<script>

	const WASD_KEY_CODE = {
		65: 'left', 87: 'up', 68: 'right', 83: 'down',
        37: 'left', 38: 'up', 39: 'right', 40: 'down',
        105: 'left', 104: 'up', 106: 'right', 108: 'down',
        // 33: 'up', 34: 'down',
	};
	const navRootElem = document.querySelector('body');
	navRootElem.addEventListener('keydown', function(e) {
		const dir = WASD_KEY_CODE[e.keyCode];
		if(window.navigate && dir) {
			window.navigate(dir);
			e.preventDefault();
		}
		else
        {
        	// document.body.appendChild(document.createTextNode(e.keyCode));
        }
	}, true);

	window.addEventListener('load', function() {

		const autoFocusElement = document.querySelector('[autofocus]');

		if (autoFocusElement)
        {
        	autoFocusElement.focus();
        }

    })

</script>

</html>